@charset "ISO-8859-1";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.row{
    box-shadow: 12px 12px 22px;
}
.container{
    margin-top: 5%;
    background-color: white;
}


h1
{
    font-family: inherit;
    font-family: cursive;
    font-weight: bolder;
}
.img
{
    position: relative;
    background-color: skyblue;
}

.text-block {
    font-family: cursive;
    opacity: 0.5;
    text-align: center;
    width: 30%;
    position: absolute;
    top: 20%;
    left: 15%;
    background-color: black;
    color: white;
  }
  .btn{
    width: 20%;
    margin-bottom: 10px;
  }


